<script>
$(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
$(document).ready(function(){
   $('.pinned').pushpin({
     top: 0,
     bottom: 1000,
     offset: 350
   });
 });
$(document).ready(function() {
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
  $('.dropdown-button').dropdown('open');
  $('.dropdown-button').dropdown('close');
});
$(".button-collapse").sideNav();
$(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Let's get in touch!</h5>
        <h6 class="grey-text text-lighten-4">Have any questions? Feel free to contact me!</h6>
      </div>
      <div class="col l4 offset-l2 s6">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">call</i>  972-832-6764</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:samshin102@gmail.com"><i class="material-icons">email</i>  samshin102@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2017 Sammy Shin, All rights reserved.
      <a class="grey-text text-lighten-4 right" href="#!">More to come later...</a>
    </div>
  </div>
</footer>
