<header>
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Home</a>
      <ul class="nav-mobile right hide-on-med-and-down">
        <li><a>About me</a></li>
        <li><a>Resume</a></li>
        <li><a>Contact me</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Other<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <!--TODO: ADD CONTENT HERE POSSIBLY-->
    </div>
  </nav>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Github</a></li>
      <li><a href="#!">Social Media</a></li>
      <li><a href="#!">Sign in</a></li>
    </ul>
</header>
