<!DOCTYPE html>
<html>
  <head>
    <% include includes/meta.ejs %>
    <% include includes/materialize.ejs %>
  </head>
  <body>
    <main>
      <div class="container">
        <img src="Traffic.gif">
      </div>
    </main>
    <% include includes/scripts.ejs %>

    <% include includes/footer.ejs %>
  </body>
</html>
