<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/meta.ejs %>
    <% include ../includes/materialize.ejs %>
  </head>
  <body>
    <main>
      <div class="parallax-container teal lighten-1">
        <div class="parallax"><img class="responsive-img" src="images/trafficgif.gif">
          <div class="parallax-item white-text active" href="#one!" style="opacity: 1;">
            <h1>Sammy Nickolas Shin</h1>
          </div>
        </div>
      </div>
    </main>
    <% include ../includes/scripts.ejs %>

    <% include ../includes/footer.ejs %>
  </body>
</html>
