<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/meta.ejs %>
    <% include ../includes/materialize.ejs %>
  </head>
  <body>
    <main>
      <div class="parallax-container">
        <div class="parallax">
          <img class="responsive-img" src="images/trafficc.gif">
          <div class="parallax-item white-text valign-wrapper center-align" style="opacity: 1;">
            <div class="row container">
              <h1>Sammy Nickolas Shin</h1>
              <li class="divider"></li>
              <p> Personal Website Resume </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section white">
        <div class="container">
          <div class="row container">
            <h1 style="color: #26a69a;">About me</h1>
            <p>I'm a highschool webdeveloper</p>
          </div>
        </div>
      </div>
    </main>
    <% include ../includes/scripts.ejs %>
    <style>
      /*.parallax-container {
        height: auto;
      }*/
      .page-footer{
        background-color: #dd2000;
      }
    </style>
    <% include ../includes/footer.ejs %>
  </body>
</html>
