<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/meta.ejs %>
    <% include ../includes/materialize.ejs %>
  </head>
  <body>
    <main>
      <div class="parallax-container">
        <div class="parallax">
          <img class="responsive-img" src="images/indiabridge.gif">
          <div class="parallax-item white-text valign-wrapper center-align" style="opacity: 1;">
            <div class="row container">
              <h1>Sammy Nickolas Shin</h1>
              <li class="divider"></li>
              <p> Personal Website Resume </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s10">
          <div id="aboutme" class="section scrollspy white" style: height="500px;">
            <div class="container">
              <div class="container center-align">
                <h3 style="color: #26a69a; font-weight: lighter; line-height: 70%">About me</h2>
                  <p style="font-weight: lighter; font-size: 18px; color: gray;">I'm a highschool webdeveloper</p>
                  <li class="divider"></li>
                  <div class="row">
                    <div class="col s4"></div>
                    <div class="col s4"></div>
                    <div class="col s4"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="experience" class="section scrollspy white" style: height="500px;">
              <div class="container">
                <div class="container center-align">
                  <h3 style="color: #26a69a; font-weight: lighter; line-height: 70%">Experience</h2>
                    <p style="font-weight: lighter; font-size: 18px; color: gray;">The experience I've accumulated in my life :3</p>
                    <li class="divider"></li>
                    <div class="row">
                      <div class="col s4"></div>
                      <div class="col s4"></div>
                      <div class="col s4"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="abilities" class="section scrollspy white" style: height="500px;">
                <div class="container">
                  <div class="container center-align">
                    <h3 style="color: #26a69a; font-weight: lighter; line-height: 70%">Abilities</h2>
                      <p style="font-weight: lighter; font-size: 18px; color: gray;">What I can or can't do</p>
                      <li class="divider"></li>
                      <div class="row">
                        <div class="col s4"></div>
                        <div class="col s4"></div>
                        <div class="col s4"></div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col hide-on-small-only s2">
            <div class="toc-wrapper pinned" style="top: 0px;">
              <div style="height: 1px;">
                <ul class="section table-of-contents h4">
                  <li><a href="#aboutme" class="active ">About me</a></li>
                  <li><a href="#experience" class="">Experience</a></li>
                  <li><a href="#abilities" class="">Abilities</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </main>
    <% include ../includes/scripts.ejs %>
    <style>
      /*.parallax-container {
        height: auto;
      }*/
      .page-footer{
        background-color: #dd2000;
      }
    </style>
    <% include ../includes/footer.ejs %>
  </body>
</html>
