<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/meta.ejs %>
    <% include ../includes/materialize.ejs %>
  </head>
  <body>
    <main>
      <div class="parallax-container">
        <div class="parallax">
          <img class="responsive-img" src="images/trafficgif.gif">
          <h1> Sammy Nickolas Shin </h1>
        </div>
      </div>
    </main>
    <% include ../includes/scripts.ejs %>

    <% include ../includes/footer.ejs %>
  </body>
</html>
