<!DOCTYPE html>
<html>
  <head>
    <% include includes/meta.ejs %>
    <% include includes/materialize.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <main class="container flow-text">
      <div class="parallax-container">
        <div class="parallax"><img src="images/header.jpg"></div>
      </div>

    </main>
    <% include includes/scripts.ejs %>

    <% include includes/footer.ejs %>
  </body>
</html>
