<!DOCTYPE html>
<html>
  <head>
    <% include includes/meta.ejs %>
    <% include includes/materialize.ejs %>
  </head>
  <body>
    
    <main>

    </main>
    <% include includes/scripts.ejs %>

    <% include includes/footer.ejs %>
  </body>
</html>
