<!DOCTYPE html>
<html>
  <head>
    <% include includes/meta.ejs %>
    <% include includes/materialize.ejs %>
  </head>

  <body>
    <nav class="nav-extended nav-full-header aw lighten-2">
      <div class="nav-background">
        <img src="../public/images/header.jpg" alt="pictureportriat">
      </div>
      <div class="nav-wrapper db">
        <a href="index.html" class="brand-logo">Home</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="bt hide-on-med-and-down">
          <li><a href="">About me</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Resume</a></li>
          <li class="k"><a class="dropdown-button" href="#!" data-activates="feature-dropdown" data-beloworigin="true" data-constrainwidth="false">Features<i class="material-icons bt">arrow_drop_down</i></a><ul id="feature-dropdown" class="dropdown-content">
          <li><a href="">Contact me</a></li>
          <li><a href="">Github</a></li>
          <li><a href="">Other</a></li>
        </ul></li>
        </ul>
      </div>

      <div class="nav-header valign-wrapper">
        <div class="t carousel-slider de initialized" data-indicators="true" style="height: 486px;">
          <div class="carousel-item white-text active" href="#one!" style="z-index: 0; opacity: 1; display: block; transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px);">
            <div class="db valign-wrapper">
              <h1>Hi!</h1>
              <div class="ge">I am Sammy Shin</div>
            </div>
          </div>
        <ul class="indicators"><li class="indicator-item active"></li><li class="indicator-item"></li><li class="indicator-item"></li></ul></div>
      </div>

      <!-- Fixed Masonry Filters -->
      <div class="categories-wrapper ao darken-3">
        <div class="categories-container pin-top" style="top: 0px;">
          <ul class="categories db">
            <li class="k"><a href="#all">All</a></li>
            <li><a href=""></a>Tab 1</li>
            <li><a href=""></a>Tab 2</li>
            <li><a href=""></a>Tab 3</li>
          </ul>
        </div>
      </div>
    </nav>
    <main>

    </main>
    <% include includes/scripts.ejs %>

    <% include includes/footer.ejs %>
  </body>
</html>
