<!DOCTYPE html>
<html>
  <head>
    <% include includes/meta.ejs %>
    <% include includes/materialize.ejs %>
  </head>
  <body>
    <% include includes/header.ejs %>
    <main>
      <div class="parallax-container">
        <div class="parallax"><img class="responsive-img" src="images/header.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h4 class="header">About me</h4>
          <li class="divider"></div>
          <p class="caption grey-text text-darken-3 lighten-3"> Hello I am Sammy Nicholas Shin.</p>
        </div>
      </div>
    </main>
    <% include includes/scripts.ejs %>

    <% include includes/footer.ejs %>
  </body>
</html>
