<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/meta.ejs %>
    <% include ../includes/materialize.ejs %>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
  </head>
  <body>
    <% include ../includes/header.ejs %>
    <main class="container flow-text">
      <div id="root"></div>

    </main>
    <% include ../includes/scripts.ejs %>
    <script src="game.js"></script>
    <% include ../includes/footer.ejs %>
  </body>
</html>
